// main: ../style.less
.section {
      background-color: @dark;
}

.section__title {
      padding-top: 140px;

      font-size: 32px;
      font-weight: 700;
      line-height: 0.7;
      color: @white;
}

.schedule {
      margin-top: 40px;
      border-top: @yellow 2px solid;
}

